@use "../../styles/mixins.scss" as *;

.cards {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 25px;
    cursor: pointer;
    background-size: cover;   
    background-position: center; 
}

.title {
    @include font-style-secondary(18px, 700);
    margin: 20px;
}

/**Media queries**/
@media (max-width: 767.98px){
    .cards{
        height: 255px;
        margin:0px;
        margin-bottom: 22px;
        width: 100%;
    }
}