@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.topBar {
  background-color: $color-primary;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.large {
  width: 1023px;

  .topBar {
    height: 54px;
  }

  .title {
    @include font-style-secondary(24px, 700);
  }

  .content {
    @include font-style(18px, 400);
  }
}

.medium {
  width: 582px;

  .topBar {
    height: 52px;
  }

  .title {
    @include font-style-secondary(18px, 700);
  }

  .content {
    @include font-style(18px, 400);
  }
}

.icone {
  font-size: 24px;
  color: white;
}

.content {
  background-color: #f6f6f6;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  padding: 0px 20px;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.4s ease, transform 0.4s ease, padding 0.2s ease;
  white-space: pre-line;
}

.content.opened {
  max-height: 1000px;
  padding: 20px;
  opacity: 1;
  transform: scaleY(1);
}

/**Media queries**/
@media (max-width: 767.98px){
  
  .large, 
  .medium {
    width: 100%;
  
    .topBar {
      height: 30px;
    }
  
    .title {
      @include font-style-secondary(13px, 700);
    }
  
    .content {
      @include font-style(12px, 400);
    }
  }

  .icone {
    font-size: 16px;
  }
}