@use "../../styles/mixins.scss" as *;

.navbarre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
        }
    
.navLinks{
        display: flex;
        gap:50px;
    }

.navLink {
        @include font-style(24px, 500);
    }
    
.active {
        @extend .navLink;
        text-decoration: underline;
    }

/**Media queries**/
@media (max-width: 767.98px){
    img{
        width:145px;
        height:46,88px;
    }

    .navLink {
        @include font-style(12px, 500);
        text-transform: uppercase ;
    }

    .navLinks{
        gap:25px;
    }
}
    