@use "../../styles/mixins.scss" as *;

.navbarre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
        }
    
.navLinks{
        display: flex;
        gap:50px;
    }

.navLink {
        @include font-style-primary(24px, 500);
    }
    
.active {
        @extend .navLink;
        text-decoration: underline;
    }
    