@use "../../styles/mixins.scss" as *;

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  max-width: 1240px;
  height: 223px;
  background-size: cover; 
  background-position: center; // Centre l'image
  background-repeat: no-repeat; // Évite la répétition de l'image
  background-blend-mode: darken;
  
}

.texte{
  @include font-style-secondary(48px, 700);
}

/**Media queries**/
@media (max-width: 767.98px){
  
  .banner{
    max-width: 767.98px;
    height: 111px;
    padding-left: 20px
  }
  .texte{
    @include font-style-secondary(24px, 700);
    white-space: normal;
  }
  
}